body {
	margin-top: 50px;
	margin-left: 100px; 
	margin-right: 100px;
	font-family:'Inconsolata'; 
	text-align: left;
	font-size:20px;
     }
#name {
	float:left;
	font-size: 40px;
	color: #ce5676; 
      }

#about-me {
	font-size: 20px;
     }
#ig {
	width:100;
	height:100;
}
#links {
	color: #6086c4; 
	text-align: right;
}
#studyblog{
	color: #6086c4;	
}

#projects{
	color: #6086c4; 
}
#sleepnow {
	color: #ce5676;
	font-size: 20px;
	text-decoration: none;
}
#lum {
	color: #ce5676;
	font-size: 20px;
	text-decoration: none;
}
#srcs {
	text-align:center;
}

